@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('../fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/*TAYYOR SHABLONLAR*/

.btn{
  width: auto;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  border: 2px solid #3578B1;
}

a{
  text-decoration: none;
  color: black;
}

/*TUGADI*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  background-color: #fff;
  font-family: "Roboto" , sans-serif;
  background-image: url("img/sunset1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1350px;
  /*background-color: */
}

.test{
  display: flex;
  justify-content: flex-end;
}

.obuna-btn{
  display: block;
  color: #3578B1;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold
  margin-left: auto;
  /*margin-right: 10px;*/
  border: 2px solid #3578B1;
  transition: background-color 0.5s ease;
}

.obuna-btn:hover{
  color: white;
  background-color: #3578B1;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.contain-main{
  position: relative;
  margin-top: 60px;
  margin-left: 35%;
}

.logo{
  width: 350px;
}

.btn-img{
  margin-top: -16%;
  position: absolute;
}

.btn-img1{
  width: auto;
  color: #3578B1;
  transition: background-color 0.5s ease;
}

.btn-img1:hover{
  color: white;
  background-color: #3578B1;
  transition: background-color 0.5s ease;
}

.btn-img2{
  margin-left: 170px;
}

footer{
  margin-top: 6%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin-icon2{
  margin-right: 990px;
}

.coin-icon{
  color: white;
  margin-left: 5px;
  font-size: 40px;
  transform: rotate(-15deg);
}

.btn-pages{
  height: 50px;
}

.btn-projects{
  width: auto;
  color: white;
  margin-right: 10px;
  transition: background-color 0.5s ease;
}

.btn-projects:hover{
  background-color:  #3578B1;
  transition: background-color 0.5s ease;
}

.testt{
  /*display: block;*/
  background-color: r/*ed;
  display: flex;
  flex-direction: col*/umn;
  /*justify-content: flex-end;*/
}